<FONT FACE="courier new">
<h2><b>Premium</b></h2>
</FONT>

<form action="premium" method="get">
Nombre Completo: <input type="text" name="Nombre completo" />
Numero de Tarjeta: <input type="number" name="Numero de Tarjeta" />
Fecha de Expiracion: <input type="date" name="bday">
Codigo de Seguridad : <input type="number" name="CVV" />
<input type="reset" value="Borrar" />
<%= link_to 'Cancelar', my_accomodations_path, class: "btn-xs btn-success" %>
<%= link_to 'Ser premium', my_accomodations_path, class: "btn-xs btn-success" %>
<%= link_to 'Terminos y condiciones', privacidad_path, class: "btn-xs btn-success" %>
</form>
<!-- if user_signed_in? aceptó then poner premium true  --> 
