body {
  background-color: rgba(0,0,0,0.5);
  color: #333;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.5) 100%), url("http://images.freeimages.com/images/previews/ad4/designer-lounge-1-1516668.jpg");
  background-size: 100% auto;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

p, ol, ul, th, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

h2 {
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    background:rgba(0,0,0,0.0);
  }
  &.navbar-brand {
    text-align: right;
  }
}

textarea, input {
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  text-align: left;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &.navbar-header {
    text-align: right;
  }
  &.field_with_errors {
    margin-left: auto;
    margin-right: auto;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-left: auto;
  margin-right: auto;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
footer {
            position: relative;
            /* Altura total del footer en px con valor negativo */
            margin-top: 500px;
            /* Altura del footer en px. Se han restado los 5px del margen
               superior mas los 5px del margen inferior
            */
            height: 40px;
            padding:5px 0px;
            clear: both;
            background: #286af0;
            text-align: center;
            color: #fff;
        }
       