<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado el link para cambiar tu contraseña. Podras hacerlo clickeando el link debajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si has pedido esto, por favor ignora este mail.</p>
<p>Tu contraseña no se va a cambiar a menos que ingreses al link de arriba y crees una nueva.</p>
